.modal {
  top: 0;
  max-width: 100%;
}

.modal-title {
  margin-left: 1rem;
  font-size: 1.25rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: #45ADA8;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e9ecef;
}

.modal-content {
  max-width: 500px;
  margin: 1.75rem auto;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
}

.modal-body {
  font-size: 1.25rem;
  margin: 0 1rem;
  white-space: pre-wrap;
  display:flex;
  flex-wrap: wrap;
  color: #594F4F;
}

.modal-footer {
  display: flex;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  color: #594F4F;
}

.close {
  margin: auto 0;
  color: #594F4F;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}
