body {
  background-color: #0e5cd1;
  color: #e962c1;
}

.addOn {
  grid-column: 2 / 3;
  grid-row: auto;
  justify-self: center;
}

.btn {
  margin-left: 10px;
  background-color: #e962c1;
  border-color: #e962c1;
}

.btn:hover, .btn:visited, .btn:active, .btn:link, .btn:focus {
  background-color: #e962c1 !important;
  border-color: #e962c1 !important;
}

input {
  margin-left: 10px !important;
}

a:visited{
  color: inherit;
}