.row {
  max-width: 100%;
}

.max-width {
  width: 100%;
}

.red-border {
  border: 2px solid red !important;
}

.red-text {
  font-weight: bold;
  color: red;
}

.no-border {
  border:none;
}

.close {
  text-shadow: none;
  opacity: 1;
}

body {
  background-color: #0e5cd1;
  color: #e962c1;
}

.subhead {
  color:#ffffff;
}

.btn {
  margin: 0px 0px 10px 10px;
  background-color: #e962c1;
  border-color: #e962c1;
}

.btn:hover, .btn:visited, .btn:active, .btn:link, .btn:focus {
  background-color: #e962c1 !important;
  border-color: #e962c1 !important;
}

label, input {
  margin: 0px 0px 5px 10px !important;
}

.input-range__label {
  font-weight: bold;
}

a, .input-range__label {
  color: #e962c1;
}

a:visited, a:hover{
  color: inherit;
}

a:hover {
  font-weight: bold;
  cursor: pointer;
}

.letter-input {
  width: 100px !important;
}

.input-range__track--active {
  background-color: #e962c1;
}

.input-range__slider {
  background-color: #e962c1;
  border: 1px solid #e962c1;
}

.input-range {
  min-width: 200px !important;
  margin-left: 10px !important;
  width: 85% !important;
}

.white-text{
  color: white;
}

.letter-input {
  margin: 0 !important;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  display: inline;
  margin: 0;
  padding: 0;
}

.link-button:hover {
  color: inherit;
  font-weight: bold;
  cursor: pointer;
}

.number-form {
  width: 90%;
  max-width: 90%;
}

.form-inline {
  flex-wrap: nowrap;
}

@media only screen and (min-width:0px) and (max-width:600px){
  .form-inline {
    flex-wrap: wrap;
  }
}