.row {
  max-width: 100%;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 1px solid #9de0ad;
  border-radius: 3px;
  background-color: #547980;
}
input[type="checkbox"]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid #9de0ad;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}

.max-width {
  width: 100%;
}

.red-border {
  border: 2px solid rgb(204, 15, 103) !important;
}

.red-text {
  font-weight: bold;
  color: rgb(204, 15, 103);
}

.no-border {
  border: none;
}

.white {
  background-color: white;
}

.close {
  text-shadow: none;
  font-size: 1.2rem;
  opacity: 1;
}

body {
  background-color: #547980;
  color: #9de0ad;
}

.subhead {
  color: #ffffff;
}

.btn {
  margin: 0px 0px 10px 10px;
  background-color: #9de0ad;
  border-color: #9de0ad;
  color: #547980;
}

.btn:hover,
.btn:visited,
.btn:active,
.btn:link,
.btn:focus {
  background-color: #9de0ad !important;
  border-color: #9de0ad !important;
  color: #547980 !important;
}

.letter-input {
  width: 85px !important;
  margin: 0 !important;
  background-color: #e5fcc2 !important;
  border: 1px solid #9de0ad !important;
  color: #547980 !important;
}

.letter-input:focus {
  border: 3px solid #9de0ad !important;
  box-shadow: none;
}

.grey,
.grey:hover {
  background-color: #ced4da !important;
  border-color: #9de0ad !important;
}

label,
input {
  margin: 0px 0px 10px 10px !important;
}

.input-range__label {
  font-weight: bold;
}

a,
.input-range__label {
  color: #9de0ad;
}

a:visited,
a:hover {
  color: inherit;
}

.no-underline:hover {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
  cursor: pointer;
}

a:active {
  border-color: none;
}

.input-range__track--active {
  background-color: #9de0ad;
}

.input-range__slider {
  background-color: #9de0ad;
  border: 1px solid #9de0ad;
}

.input-range {
  min-width: 200px !important;
  margin-left: 10px !important;
  width: 85% !important;
}

.link-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #e5fcc2;
  display: inline;
  margin: 0px 0px 5px 0px;
  padding: 0;
}

.link-button:hover {
  color: #e5fcc2;
  font-weight: bold;
}

.number-form {
  width: 90%;
  max-width: 90%;
}

.form-inline {
  flex-wrap: nowrap;
  align-items: self-start;
}

.info {
  background-color: rgba(54, 79, 80, 0);
  border: none;
  cursor: pointer;
}

.space-around {
  justify-content: space-around;
}

.hover:hover {
  font-weight: bold;
}

.white-text,
.text-white {
  color: #547980;
}

.fa-info-circle {
  color: #e5fcc2;
}

.dropdown-menu {
  background-color: #9de0ad;
  color: #547980;
}

.dropdown-item {
  background-color: #9de0ad;
  color: #547980;
}

.dropdown-item:hover {
  background-color: #e5fcc2;
  color: #547980;
}

li {
  cursor: pointer;
}

.submit {
  background-color: #e5fcc2;
  border-color: #e5fcc2;
}

.submit:hover,
.submit:visited,
.submit:active,
.submit:link,
.submit:focus {
  background-color: #e5fcc2 !important;
  border-color: #e5fcc2 !important;
}

.number {
  width: 80px !important;
  background-color: #e5fcc2 !important;
  border: 1px solid #9de0ad !important;
  color: #547980 !important;
}

.number:focus {
  border: 3px solid #9de0ad !important;
  box-shadow: none;
}

.bm-menu-wrap {
  width: 240px !important;
}

.bm-item {
  text-decoration: none;
  margin-bottom: 10px;
  color: #547980;
}

.bm-item:active,
.bm-item:visited,
.bm-item:hover,
.bm-item:link {
  text-decoration: none;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 24px;
  height: 20px;
  left: 24px;
  top: 24px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #e5fcc2;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
  color: #547980 !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #547980 !important;
}

/* General sidebar styles */
.bm-menu {
  background: #9de0ad;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #547980;
}

/* Wrapper for item list */
.bm-item:focus {
  outline: none;
}

/* Wrapper for item list */
.menu-item:focus {
  outline: none;
}

.image-size {
  width: 60%;
  height: auto;
}

.yellow-text {
  color: #e5fcc2;
}

.inputs {
  margin: 0px 10px 20px 10px;
  width: calc(100% - 20px);
}

.displayErrors input:invalid {
  border: 2px solid rgb(204, 15, 103);
}

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .form-inline {
    flex-wrap: wrap;
  }
  .image-size {
    width: 100%;
  }
}
